@charset "UTF-8"

/* 画面のスタイルシート */
body{
  font-family: "Noto Sans JP",sans-serif;
  margin: 0;
  min-width: 1076px;
}

.sub-title{
font-size: 32px;
}

.color-green{
  color: #00abae;
}

/* ヘッダーのスタイルシート */
.block-header{
  padding: 0 15px 10px;
  margin: 10px 0;
  font-weight: bolder;
  box-shadow: 0px 10px 10px -5px rgb(204 204 204 / 30%);
}

.block-header a{
  font-size: 40px;
  color: #000;
  text-decoration: none;
  letter-spacing: -1px;
}



/* mainのスタイルシート */
.block-main{
  text-align: center;
  margin: 100px 0;
  }
  
  /* profileのスタイルシート */
  .item-list{
  width: 100%;
  max-width: 348px;
  margin:  0 auto;
  }
  .item-list b{
      display: block;
      font-size: 24px;
      font-weight: bold;
  }
  
  .item-list p{
      font-size: 14px;
      line-height: normal;
      text-align: center;
      color: #00abae;
  }
  
  .myself{
    width: 100%;
    max-width: 348px;
    margin:  0 auto;
    font-size: 14px;
    text-align: left;
  }

  .icon-list {
      list-style: none;
      width: 100%;
      max-width: 247px;
      margin: 0 auto;
      display: flex;
      justify-content: center;
  }
  
  .icon-list li{
      margin-right: 22px;
  }
  
  /* worksのスタイルシート */
  .box-works{}

  .works-list{
    list-style: none;
    width: 100%;
    max-width: 1076px;
    margin: 30px auto;
    padding: 0px;
    text-align: left;
    overflow: hidden;
}

  .works-list li{
    display: block;
    float: left;
    width: 100%;
    max-width: 348px;
    margin-right: 15px;
}

  .works-list li:last-child{
    margin-right: 0px;
  }

  .works-list li img{
    width: 100%;
    border: 1px solid #ccc;
}

 .works-list li h3{
    font-size: 24px;
    margin: 8px 0;
}

  .works-list li span{
    font-size: 15px;
    font-weight: bolder;
    color: #00abae;
}

  .works-list li .link{
    display: flex;
    justify-content: left;
}

  .works-list li .link a{background-color: rgb(226,226,226);padding: 5px 20px;margin-right: 10px;font-size: 15px;text-decoration: none;color: #000000;}

  /* フッターのスタイルシート */
  .block-footer p{
    clear: both;
    text-align: center;
    font-size: 15px;
    margin: 50px 0 15px;
    }

   /* スマホ用スタイルシート */
  
   @media screen and (max-width:767px){
    body {
      min-width: 100%; 
    }
    .sub-title{
      font-size: 24px;
    }
    .item-list{
      max-width: 100%;
    }

  /* ヘッダーのスタイルシート */
  .block-header{
    padding: 0 10px 10px;
    box-shadow: 0px 8px 8px -5px rgb(204 204 204 / 30%);
  }
  
  .block-header a{
    font-size: 28px;
  }

   /* mainのスタイルシート */
  .block-main{
    margin: 50px 0;
    text-align: center;
    }

    /* profileのスタイルシート */
  .box-profile{
    padding: 0 10px;
  }

  .item-list{
      max-width: 100%;
    }     

  .item-list b{
    font-size: 20px;
    font-weight: bold;
  }

  .item-list p{
    font-size: 12px;
    line-height: normal;
    text-align: center;
    color: #00abae;
  }
  
  
  .icon-list{
    max-width: 100%;
    margin: 0 auto;
  }     

  .myself{
    font-size: 12px;
  }

  .icon-list li{
    margin-right: 22px;
  }

/* worksのスタイルシート */
  .box-works{
    margin: 60px 0 0;
    padding-right: 15px;
  }

 .works-list{
  max-width: 100%;
  }

  .works-list li{
    margin-right: 25px;
  }

 
  
  .works-list li{
    float: none;
    max-width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
  }

  .works-list li h3{
    font-size: 20px;
    margin: 2px 0;
  }

  .works-list li span{
    font-size: 13px;
    margin-bottom: 10px;
    }
}